{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Resultado</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    {% comment %} <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style> {% endcomment %}
  </head>
  <body>
    <h1>Dados do Último Upload</h1>    
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Documento</th>
          <th>Data</th>
          <th>Faltas</th>
          <th>Responsavel</th>
          <th>Telefone</th>
          <th>Enviar</th>
        </tr>
      </thead>
      <tbody>
        {% for dado in dados %}
          <tr>
            <td>{{ dado.nome }}</td>
            <td>{{ dado.documento }}</td>
            <td>{{ dado.data }}</td>
            <td>{{ dado.faltas }}</td>
            <td>{{ dado.resp_aluno }}</td>
            <td>{{ dado.fone_aluno }}</td>
            <td>
              <button onclick="enviarWhatsapp('{{ dado.fone_aluno }}', '{{ dado.mensagem_falta }}')">Enviar Mensagem</button>
          </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4">Nenhum dado disponível</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href='{% url "index" %}'><h2>VOLTAR HOME</h2></a>
  </body>
</html>

<script>
  function enviarWhatsapp(numero, mensagem) {
      // Substitua 'seu_numero' pelo seu número de WhatsApp com o código do país
      window.open(`https://api.whatsapp.com/send?phone=55${numero}&text=${mensagem}`, '_blank');
  }
</script>