{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
  <main class="container">
    <section class="section d-flex flex-column align-items-center">
      <h2 class="section__title">Upload de Arquivo SEDUC formato Excel</h2>
      <form class="form row col-md-6 col-lg-4 text-center justify-content-center" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success col-12" type="submit">Enviar</button>
      </form>
    </section>
  </main>
{% endblock %}
